.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
vendor/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep


# Jekyll Embedded
embedded/*
!embedded/.gitkeep
packaging/*/*.tar.gz
!packaging/.gitkeep
!packaging/*/.gitkeep