.hightlight {
    background-color: #49483E;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 3px;
    color: #FFFFFF;
}

.hightlight li {
    color: #fbfbfb;
}

.hightlight li.error {
    color: #f44336;
}

.hightlight li.info {
    color: #03a9f4;
}

.hightlight li.success {
    color: #4caf50;
}

.hightlight li.warn {
    color: #ffc107;
}

.hightlight ul {
    padding-left: 0;
    list-style-type: none;
}
